ejb/src/main/java/generated/MainClass.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="MainClassService" targetNamespace="http://soa.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://soa.com/" version="1.0" xmlns:tns="http://soa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getStudent" type="tns:getStudent"/>
<xs:element name="getStudentList" type="tns:getStudentList"/>
<xs:element name="getStudentListResponse" type="tns:getStudentListResponse"/>
<xs:element name="getStudentResponse" type="tns:getStudentResponse"/>
<xs:element name="hello" type="tns:hello"/>
<xs:element name="helloResponse" type="tns:helloResponse"/>
<xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getStudentList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lista" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getStudentListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:student"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="student">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="pesel" type="xs:string"/>
      <xs:element minOccurs="0" name="subjects">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getStudent">
    <xs:sequence>
      <xs:element minOccurs="0" name="getStudent" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getStudentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:student"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getStudentListResponse">
    <wsdl:part element="tns:getStudentListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloResponse">
    <wsdl:part element="tns:helloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hello">
    <wsdl:part element="tns:hello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudentResponse">
    <wsdl:part element="tns:getStudentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudent">
    <wsdl:part element="tns:getStudent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudentList">
    <wsdl:part element="tns:getStudentList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MainClass">
    <wsdl:operation name="hello">
      <wsdl:input message="tns:hello" name="hello">
    </wsdl:input>
      <wsdl:output message="tns:helloResponse" name="helloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudentList">
      <wsdl:input message="tns:getStudentList" name="getStudentList">
    </wsdl:input>
      <wsdl:output message="tns:getStudentListResponse" name="getStudentListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudent">
      <wsdl:input message="tns:getStudent" name="getStudent">
    </wsdl:input>
      <wsdl:output message="tns:getStudentResponse" name="getStudentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainClassServiceSoapBinding" type="tns:MainClass">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hello">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="helloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudentList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStudentList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStudentListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudent">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStudent">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStudentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainClassService">
    <wsdl:port binding="tns:MainClassServiceSoapBinding" name="MainClassPort">
      <soap:address location="http://localhost:8080/soa-ejb/MainClass"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>